@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.container {
    width: 1200px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Open Sans";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.softuni {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61%, rgba(0, 0, 0, 0.8) 93%);
    padding: 40px 50px;
    position: relative;
    overflow: hidden;
    color: white;

}

.softuni img {
    position: absolute;
    top: 0px;
    left: -300px;
    z-index: -1;
    width: 200%;
    height: 100%;
}

.softuni .content .title a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.softuni .content .main-title {
    margin-top: 170px;
    text-align: center;
}

.softuni .content .main-title .title-welcome {
    font-size: 3rem;
    font-weight: 100;
}

.softuni .content .subtitle {
    font-size: 2rem;
    font-weight: 100;
}

.softuni .content .icons {


    margin-top: 160px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.3rem;
}

.softuni .content .icons a {
    color: white;
}

.form{
    padding: 50px;
}
.form .all-input{
    display: flex;
    flex-direction: column;
    gap:20px
}
.form input{
    padding:0.2rem;
    border: none;
    border-bottom: 1px solid rgb(201, 197, 197);
    font-size: 1.2rem;
}
.form label{
    color: rgb(203, 200, 200);
}

.form .submit{
    margin-top: 50px;
    margin-right:20px ;
    font-weight: 600;
    padding: 10px 40px;
    background-color: black;
    color: white;
    
    border-radius: 50px;
}

.form a{
    color: rgb(188, 188, 188);
    font-weight: 600;
}